*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width:100vw;
}
.container{
    background-color: rgb(87, 90, 90);
    height:100%;
    width:100%;
    display:grid;
    padding: 4rem;
    row-gap:1rem;
    /* grid-template-rows: 100px 100px; */
    grid-template-rows: repeat(4,1fr);
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns:repeat(3,1fr);
    column-gap: 2rem;
}
.item{
    background-color:rgb(102, 102, 247);
    border: 5px solid black;
}
.header,.footer{
    grid-column-start:1;
    grid-column-end:4 ;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}